<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="knight" class="followSpringAction.BraveKnight">
        <constructor-arg ref="quest"/>
    </bean>
    <bean id="quest" class="followSpringAction.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>
    <!--配置AOP切面-->
    <bean id="minstrel" class="followSpringAction.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>
    <!--配置在执行embarkOnQuest()方法之前和之后执行的方法-->
    <!--配置切面的时候,用IDEA需要手动导入一个包,aspectjweaver,IDEA默认没有下载-->
    <aop:config>
        <aop:aspect ref="minstrel">
            <aop:pointcut id="embark" expression="execution(* *.embarkOnQuest(..))"/>
            <aop:after method="singAfterQuest" pointcut-ref="embark"/>
            <aop:before method="singBeforeQuest" pointcut-ref="embark"/>
        </aop:aspect>
    </aop:config>

</beans>