<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定接口-->
<mapper namespace="com.example.springbootdemo.mapper.UserMapper">
    <select id="findByUserName" resultType="com.example.springbootdemo.pojo.User" parameterType="String">
        select * from user where username=#{name}
    </select>
    <insert id="insertUser" parameterType="com.example.springbootdemo.pojo.User">
        insert into user(username,password,roles) values(#{username}, #{password}, #{roles})
    </insert>
</mapper>
